<header class="header">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LYSXPE1LM7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

        gtag('config', 'G-LYSXPE1LM7');
    </script>
    <div class="navigation">
        <a href="/" class="logo">{{ site.title }}</a>

        <ul class="menu">
            <li class="menu__entry"><a href="{{ '/' | prepend: site.baseurl }}">Blog</a></li>
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
            <li class="menu__entry"><a href="{{ '/writeups' | prepend: site.baseurl }}">Writeups</a></li>
            <li class="menu__entry"><a href="{{ '/photos' | prepend: site.baseurl }}">Photos</a></li>
            <li class="menu__entry"><a href="{{ '/turkishmovies' | prepend: site.baseurl }}">Turkish Movies</a></li>
            <li class="menu__entry"><a href="{{ '/foreignmovies' | prepend: site.baseurl }}">Foreign Movies</a></li>
            <li class="menu__entry"><a href="{{ '/review' | prepend: site.baseurl }}">Review</a></li>
        </ul>
    </div>

    <ul class="social-links">
        {% if site.author.github %}
            <a href="https://github.com/JohnGkmn" class="social-links__entry" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {% endif %}

        {% if site.author.twitter %}
            <a href="https://twitter.com/standartyerli" class="social-links__entry" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {% endif %}
    </ul>
</header>
